<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="~{template :: head}"></th:block>

<body>

<!-- Include the Navigation fragment -->
<th:block th:replace="~{template :: navbar}"></th:block>

<div id="bigImage" class="container-fluid" background="wedding-bg.jpg">

</div>

<!-- Include the RSVP Modal fragment (if it should appear on this page) -->
<th:block th:replace="~{template :: rsvpModal}"></th:block>

<!-- Include the Scripts fragment -->
<th:block th:replace="~{template :: scripts}"></th:block>

</body>
</html>
