<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:replace="~{template :: head}"></th:block>

<body th:class="${theme}">

<th:block th:replace="~{template :: header}"></th:block>

<th:block th:replace="~{template :: title}"></th:block>

<!-- Include the Navigation fragment -->
<th:block th:replace="~{template :: navbar}"></th:block>

<main class="container-fluid row justify-content-center">
    <div class="col-lg-8"><img th:src="@{../images/wedding-bg.jpg}" class="img-fluid img-thumbnail" alt="John and Rosemary"></div>
</main>

<th:block th:replace="~{template :: footer}"></th:block>

<!-- Include the RSVP Modal fragment (if it should appear on this page) -->
<th:block th:replace="~{template :: rsvpModal}"></th:block>

<!-- Include the Scripts fragment -->
<th:block th:replace="~{template :: scripts}"></th:block>

</body>
</html>
