<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RSVP</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>RSVP</h1>
    <form th:if="${thanks == null}"  th:action="@{/rsvp}" th:object="${rsvp}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required />
        </div>
        <div>
            <label for="message">Message (optional):</label>
            <textarea id="message" th:field="*{message}"></textarea>
        </div>
        <div>
            <button type="submit">Submit RSVP</button>
        </div>
    </form>

    <div th:if="${thanks}">
        <p th:text="${thanks}"></p>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
